/*Navbar CSS*/
body {
  margin: 0;
  padding: 0;
}

.first-section {
  background-image: url("navimg.jpg");
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
}
img {
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
}
.contents h1 h5 {
  padding-left: 10px;
  padding-top: 40px;
}

.navbar,
.navbar-brand,
li,
a,
.nav-link{
  text-decoration: none;
  color: white;
}
.na {
  float: right;
}
.contents {
  color: white;
  margin-top: 10%;
  font-size: 70px;
  font-family: helvetica;
  text-align: center;
}
.belowcontents {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: helvetica;
}
.search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 30%;
  margin-top: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 350px;
  border-radius: 50px 0 0 50px;
}
.butt {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 0.4%;
  padding-right: 40px;
  border-radius: 0 50px 50px 0;
  background-color: #DC3545;
  color: white;
  border-color: transparent;
}
.listus {
  margin-left: 42%;
  padding-bottom: 10%;
  border: none;
  color: white;
}
.topnav {
  font-size: 18px;
}
.aa{
	color: white;
}
/*Description CSS*/
.m2head{
	margin-top: 5%;
	font-family: helvetica;
	text-align: center;
}
.m2p1{
	text-align: center;
	display: grid;
	grid-template-columns: 3fr 7fr;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
	font-family: helvetica;
	padding-top: 50px;
}
.off{
	margin-top: 30%;
	 width:100%;
   height:100%;
}
.img-fluid{
	 width:100%;
   height:100%;
}
.offimg{
	background-image: url(office.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	margin-left: 10%;
}
.m2p2{
	text-align: center;
	display: grid;
	grid-template-columns: 70% 30%;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 3%;
	font-family: helvetica;
	padding-top: 50px;
}
.coworkimg{
	background-image: url(cowork.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	margin-right: 3%;
}
.co{
	margin-top: 30%;
	margin-left: 7%;
}
.m2p3{
	text-align: center;
	display: grid;
	grid-template-columns: 30% 70%;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 3%;
	font-family: helvetica;
	padding-top: 50px;
}

.meetingimg{
	background-image: url(meeting.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 475px;
	margin-left: 3%;
	margin-right: 10%;
}
.m2p4{
	text-align: center;
	display: grid;
	grid-template-columns: 70% 30%;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 3%;
	font-family: helvetica;
	padding-top: 50px;
}
.loungeimg{
	background-image: url(lounge.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	margin-right: 3%;
}

/*Footer CSS*/
.col_white_amrc { color:#FFF;}
footer { margin-top:10%;width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
.footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.padding-right { padding-right:10px; }
.bottom_border { border-bottom:1px solid #fff; padding-bottom:20px;}
.social_footer_ul { display:table; margin-left: 35%; margin-top: -50px; list-style-type:none;  }
.social_footer_ul li {  padding-left:20px; padding-top:15px; float:left; }
.logo{
    display: inline-block;
    height: 30px;
}
.text-right{
    margin-top: -35px;
    text-decoration: none;
    
}

.text-right a{
    color:#CCC;
    text-decoration: none;
}